<!DOCTYPE html PUBLIC "crawler">
<html>
    <head>
       <title>Web-Crawler</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
       <style>
          img {
              display: block;
              margin-left: auto;
              margin-right: auto;
          }
       </style>
    </head>
    <body>
  
      <div class="navbar">
        <div class="navbar-inner">
            <div class="nav-center">
                <a href="/"> <img src='static/shark.png'></a>
            </div>
        </div>
      </div>
 
      <div class="container">
       
       
        <h2>Welcome to web crawler</h2>
        <form  action="" method="post" role="form">
          {{ form.csrf }}
          <div class="form-group">
            <label for="name">Starting URL:</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="e.x. https://pl.wikipedia.org/wiki/Piwo">
          </div>
          <button type="submit" class="btn btn-success">Crawl</button>
        </form>
       
        <br>
              {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
       
              {% for message in messages %}
                  {% if "Error" not in message[1]: %}
                      <div class="alert alert-info">
                      <strong>Success! </strong> {{ message[1] }}
                      </div>
                  {% endif %}
       
                  {% if "Error" in message[1]: %}
                      <div class="alert alert-warning">
                      {{ message[1] }}
                      </div>
                  {% endif %}
              {% endfor %}
                  {% endif %}
              {% endwith %}
       
      </div>
      <br>      
      </div>
      </div>
</body>
</html>